

:root {
  --primary-color: #c8ecf8;
  --secondary-color: #005c7a;
  --tertiary-color: #00131a;
}


main{
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin:auto;
  background-color: var(--secondary-color);

}
header h1 {
  list-style: none;
  text-decoration: underline;
  text-decoration-color: #00131a;
  font-weight:bold;
  color: var(--primary-color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  list-style: none;
  margin: 20px auto;
}
header nav ul li a{

  padding: 5px 1px;
  font-size:3vw;
  text-decoration: none;
  margin:0 auto;
  font-weight: bold;
  color: var(--primary-color);
}
header nav ul li a:hover {
  background-color:var(--secondary-color);
  border-radius: 15px;
  font-size: 3.0vw
}
section h1 {
  text-align: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin:auto;
}

.proficiencies {
  background-color: white;
}

#profile-picture img {
  width: 300px;
  border-radius: 5px;
}


#wrap-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.img-thumbnail {
  width: 300px;
  border: var(--tertiary-color) solid 2px;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

#each-project img {
  width: 300px;
}
.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 100px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 25px;
  text-align: center;
  background-color: var(--primary-color);
}
.modalDescription {
  text-align: center;
  background-color: var(--primary-color);
  font-weight: bold;
}
button {
	background: var(--tertiary-color);
	border: 0;
	border-radius: 5px;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
} 
#contact form {
  width:75%;
  text-align: left;
  margin:50px auto 75px auto;
  border: var(--secondary-color) 3px solid;
  padding: 15px;
}
#contact input{
  border:var(--secondary-color) solid 1px;
  display:block;
  padding: 7px 15px;
  font-size: 16px;
  width:100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius:10px;
  opacity: 0.85;

}
#contact textarea{
  border:var(--secondary-color) solid 1px;
  display:block;
  padding: 7px 15px;
  font-size: 16px;
  width:100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius:10px;
  opacity: 0.85;
}
.media {
  background-color: var(--primary-color);

}
.media ul {
  display :flex;
  justify-content: space-around ;
  list-style: none;
  text-decoration: none;
  font-size: 36px;

}

.media ul li {
  padding: 10px 12px;
}
footer {
  background-color: var(--tertiary-color);
  position: -webkit-sticky;
      position: sticky;
       bottom: 1px;
      z-index: 999;

}
footer ul {

  display :flex;
  justify-content: space-around ;
  list-style: none;
  text-decoration: none;
  font-size: 36px;
}

footer a {
  color: var(--secondary-color);
}

footer h3{
  color: var(--primary-color);
}

form button {
  width:100%;
  padding: 7px 15px;
  border-radius: 10px;
  background-color:var(--secondary-color);
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: bold;
}


@media screen and (min-width: 700px) {

  header {

    position: -webkit-sticky;
    position: sticky;
   top: 1px;
    z-index: 999;

  }
  header nav ul li a {
      font-size: 2.5vw;
      margin: 0 40px 0 40px;
      font-size: 2.3vw;
      margin: 0 10px 0 10px;

  }
  #wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    width: 80%;
    margin:auto;
  }
  #profile-picture {
    flex: 0;
  }
  #description {
    flex:2;
    font-size: 2.0vw;
  }
  #profile-picture img {
    width: 250px;


  }

  #contact form {
    width: 50%;
  }
  #contact button {
    width: 25%;
  }
} 